<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="no.openandroidweather" android:versionName="0.0.6"
	android:versionCode="6">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false">
		<uses-library android:name="com.google.android.maps" />
		<receiver android:name=".widget.WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<provider android:name=".weathercontentprovider.WeatherContentProvider"
			android:authorities="no.openandroidweather.weathercontentprovider"></provider>
		<service android:name=".widget.WidgetProvider$UpdateService"></service>
		<service android:name="no.openandroidweather.weatherservice.WeatherService"></service>
		<activity android:name=".ui.forecast.ForecastListActivity"></activity>
		<activity android:name=".ui.map.GetPositionMapActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".ui.addplace.AddPlaceActivity"></activity>
		<activity android:name=".ui.placepicker.PlacePicker">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	<supports-screens/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest> 